
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Urgent help
      </h1>

		<p>If you need urgent help, for example if you've experienced:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>assault</li>
			<li>accident</li>
			<li>arrest</li>
		</ul>
		<p>We can assist you over the phone.</p>
		<p>Please call <a href="+351213924000" type="tel">+351 21 392 4000</a> or <a href="+351282490750" type="tel">+351 282 490 750</a>.</p>
    </div>
  </div>

{% endblock %}
